In [4]:
from nba_api.stats.endpoints import playergamelog
from nba_api.stats.endpoints import playercompare

In [5]:
dir(playergamelog)

['Endpoint',
 'LeagueIDNullable',
 'NBAStatsHTTP',
 'PlayerGameLog',
 'Season',
 'SeasonTypeAllStar',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__']

In [44]:
def get_player_last10_games(player_id):
    gamelog = playergamelog.PlayerGameLog(player_id=player_id)
    player_last_10_games = gamelog.player_game_log.get_data_frame().iloc[:10]
    return player_last_10_games

In [45]:
get_player_last10_games(203076)

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22022,203076,0022200882,"FEB 15, 2023",LAL vs. NOP,W,30,13,17,0.765,...,8,10,5,1,2,0,2,28,18,1
1,22022,203076,0022200867,"FEB 13, 2023",LAL @ POR,L,31,8,18,0.444,...,17,20,1,0,3,2,3,19,-10,1
2,22022,203076,0022200853,"FEB 11, 2023",LAL @ GSW,W,36,5,19,0.263,...,14,16,1,0,3,4,2,13,8,1
3,22022,203076,0022200834,"FEB 09, 2023",LAL vs. MIL,L,35,9,22,0.409,...,11,16,2,0,0,5,5,23,-7,1
4,22022,203076,0022200821,"FEB 07, 2023",LAL vs. OKC,L,31,6,9,0.667,...,5,8,2,2,1,2,4,13,-4,1
5,22022,203076,0022200798,"FEB 04, 2023",LAL @ NOP,L,38,13,25,0.520,...,10,14,3,1,2,2,3,34,0,1
6,22022,203076,0022200778,"FEB 02, 2023",LAL @ IND,W,35,13,27,0.481,...,9,14,2,1,2,2,0,31,-6,1
7,22022,203076,0022200765,"JAN 31, 2023",LAL @ NYK,W,37,9,16,0.563,...,7,9,1,2,0,5,3,27,16,1
8,22022,203076,0022200749,"JAN 28, 2023",LAL @ BOS,L,34,6,15,0.400,...,5,10,4,0,0,2,4,16,-15,1
9,22022,203076,0022200729,"JAN 25, 2023",LAL vs. SAS,W,26,7,15,0.467,...,7,12,1,1,4,3,2,21,8,1

In [8]:
res = playergamelog.PlayerGameLog(203076)

In [18]:
dir(res)

['DataSet',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'data_sets',
 'endpoint',
 'expected_data',
 'get_available_data',
 'get_data_frames',
 'get_dict',
 'get_json',
 'get_normalized_dict',
 'get_normalized_json',
 'get_request',
 'get_request_url',
 'get_response',
 'headers',
 'load_response',
 'nba_response',
 'parameters',
 'player_game_log',
 'player_stats',
 'proxy',
 'team_stats',
 'timeout']

In [43]:
player_last_10_games = res.player_game_log.get_data_frame().iloc[:10]
player_last_10_games

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22022,203076,0022200882,"FEB 15, 2023",LAL vs. NOP,W,30,13,17,0.765,...,8,10,5,1,2,0,2,28,18,1
1,22022,203076,0022200867,"FEB 13, 2023",LAL @ POR,L,31,8,18,0.444,...,17,20,1,0,3,2,3,19,-10,1
2,22022,203076,0022200853,"FEB 11, 2023",LAL @ GSW,W,36,5,19,0.263,...,14,16,1,0,3,4,2,13,8,1
3,22022,203076,0022200834,"FEB 09, 2023",LAL vs. MIL,L,35,9,22,0.409,...,11,16,2,0,0,5,5,23,-7,1
4,22022,203076,0022200821,"FEB 07, 2023",LAL vs. OKC,L,31,6,9,0.667,...,5,8,2,2,1,2,4,13,-4,1
5,22022,203076,0022200798,"FEB 04, 2023",LAL @ NOP,L,38,13,25,0.520,...,10,14,3,1,2,2,3,34,0,1
6,22022,203076,0022200778,"FEB 02, 2023",LAL @ IND,W,35,13,27,0.481,...,9,14,2,1,2,2,0,31,-6,1
7,22022,203076,0022200765,"JAN 31, 2023",LAL @ NYK,W,37,9,16,0.563,...,7,9,1,2,0,5,3,27,16,1
8,22022,203076,0022200749,"JAN 28, 2023",LAL @ BOS,L,34,6,15,0.400,...,5,10,4,0,0,2,4,16,-15,1
9,22022,203076,0022200729,"JAN 25, 2023",LAL vs. SAS,W,26,7,15,0.467,...,7,12,1,1,4,3,2,21,8,1

In [28]:

res2_pruned = res2.drop(columns=['Player_ID','Game_ID','SEASON_ID','VIDEO_AVAILABLE'])
res2_pruned.head()

,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS
0,"FEB 15, 2023",LAL vs. NOP,W,30,13,17,0.765,0,1,0.0,...,2,8,10,5,1,2,0,2,28,18
1,"FEB 13, 2023",LAL @ POR,L,31,8,18,0.444,0,2,0.0,...,3,17,20,1,0,3,2,3,19,-10
2,"FEB 11, 2023",LAL @ GSW,W,36,5,19,0.263,0,1,0.0,...,2,14,16,1,0,3,4,2,13,8
3,"FEB 09, 2023",LAL vs. MIL,L,35,9,22,0.409,0,2,0.0,...,5,11,16,2,0,0,5,5,23,-7
4,"FEB 07, 2023",LAL vs. OKC,L,31,6,9,0.667,0,0,0.0,...,3,5,8,2,2,1,2,4,13,-4

In [23]:
res2

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22022,203076,0022200882,"FEB 15, 2023",LAL vs. NOP,W,30,13,17,0.765,...,8,10,5,1,2,0,2,28,18,1
1,22022,203076,0022200867,"FEB 13, 2023",LAL @ POR,L,31,8,18,0.444,...,17,20,1,0,3,2,3,19,-10,1
2,22022,203076,0022200853,"FEB 11, 2023",LAL @ GSW,W,36,5,19,0.263,...,14,16,1,0,3,4,2,13,8,1
3,22022,203076,0022200834,"FEB 09, 2023",LAL vs. MIL,L,35,9,22,0.409,...,11,16,2,0,0,5,5,23,-7,1
4,22022,203076,0022200821,"FEB 07, 2023",LAL vs. OKC,L,31,6,9,0.667,...,5,8,2,2,1,2,4,13,-4,1
5,22022,203076,0022200798,"FEB 04, 2023",LAL @ NOP,L,38,13,25,0.520,...,10,14,3,1,2,2,3,34,0,1
6,22022,203076,0022200778,"FEB 02, 2023",LAL @ IND,W,35,13,27,0.481,...,9,14,2,1,2,2,0,31,-6,1
7,22022,203076,0022200765,"JAN 31, 2023",LAL @ NYK,W,37,9,16,0.563,...,7,9,1,2,0,5,3,27,16,1
8,22022,203076,0022200749,"JAN 28, 2023",LAL @ BOS,L,34,6,15,0.400,...,5,10,4,0,0,2,4,16,-15,1
9,22022,203076,0022200729,"JAN 25, 2023",LAL vs. SAS,W,26,7,15,0.467,...,7,12,1,1,4,3,2,21,8,1

In [29]:
res2

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22022,203076,0022200882,"FEB 15, 2023",LAL vs. NOP,W,30,13,17,0.765,...,8,10,5,1,2,0,2,28,18,1
1,22022,203076,0022200867,"FEB 13, 2023",LAL @ POR,L,31,8,18,0.444,...,17,20,1,0,3,2,3,19,-10,1
2,22022,203076,0022200853,"FEB 11, 2023",LAL @ GSW,W,36,5,19,0.263,...,14,16,1,0,3,4,2,13,8,1
3,22022,203076,0022200834,"FEB 09, 2023",LAL vs. MIL,L,35,9,22,0.409,...,11,16,2,0,0,5,5,23,-7,1
4,22022,203076,0022200821,"FEB 07, 2023",LAL vs. OKC,L,31,6,9,0.667,...,5,8,2,2,1,2,4,13,-4,1
5,22022,203076,0022200798,"FEB 04, 2023",LAL @ NOP,L,38,13,25,0.520,...,10,14,3,1,2,2,3,34,0,1
6,22022,203076,0022200778,"FEB 02, 2023",LAL @ IND,W,35,13,27,0.481,...,9,14,2,1,2,2,0,31,-6,1
7,22022,203076,0022200765,"JAN 31, 2023",LAL @ NYK,W,37,9,16,0.563,...,7,9,1,2,0,5,3,27,16,1
8,22022,203076,0022200749,"JAN 28, 2023",LAL @ BOS,L,34,6,15,0.400,...,5,10,4,0,0,2,4,16,-15,1
9,22022,203076,0022200729,"JAN 25, 2023",LAL vs. SAS,W,26,7,15,0.467,...,7,12,1,1,4,3,2,21,8,1

In [32]:
res2_data_only = res2.drop(columns=['WL','MATCHUP','Player_ID','Game_ID','SEASON_ID','VIDEO_AVAILABLE','GAME_DATE','PLUS_MINUS'])
res2_data_only

,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,30,13,17,0.765,0,1,0.000,2,5,0.400,2,8,10,5,1,2,0,2,28
1,31,8,18,0.444,0,2,0.000,3,3,1.000,3,17,20,1,0,3,2,3,19
2,36,5,19,0.263,0,1,0.000,3,4,0.750,2,14,16,1,0,3,4,2,13
3,35,9,22,0.409,0,2,0.000,5,6,0.833,5,11,16,2,0,0,5,5,23
4,31,6,9,0.667,0,0,0.000,1,2,0.500,3,5,8,2,2,1,2,4,13
5,38,13,25,0.520,2,5,0.400,6,7,0.857,4,10,14,3,1,2,2,3,34
6,35,13,27,0.481,0,3,0.000,5,5,1.000,5,9,14,2,1,2,2,0,31
7,37,9,16,0.563,0,1,0.000,9,11,0.818,2,7,9,1,2,0,5,3,27
8,34,6,15,0.400,1,3,0.333,3,4,0.750,5,5,10,4,0,0,2,4,16
9,26,7,15,0.467,1,3,0.333,6,7,0.857,5,7,12,1,1,4,3,2,21

In [33]:
for key in res2_data_only.keys():
    
    print(key)

MIN
FGM
FGA
FG_PCT
FG3M
FG3A
FG3_PCT
FTM
FTA
FT_PCT
OREB
DREB
REB
AST
STL
BLK
TOV
PF
PTS

In [38]:

data_only_averages

[33.3,
 8.9,
 18.3,
 0.4979,
 0.4,
 2.1,
 0.1066,
 4.3,
 5.4,
 0.7765,
 3.6,
 9.3,
 12.9,
 2.2,
 0.8,
 1.7,
 2.7,
 2.8,
 22.5]

In [64]:
def get_player_averages_dict(player_id):
    res = playergamelog.PlayerGameLog(player_id)
    res2 = res.player_game_log.get_data_frame()

    res2_data_only = res2.drop(columns=['WL','MATCHUP','Player_ID','Game_ID','SEASON_ID','VIDEO_AVAILABLE','GAME_DATE','PLUS_MINUS'])

    data_only_averages = [round(res2_data_only[x].mean(),2) for x in res2_data_only.keys()]

    average_dict = {i:j for i,j in zip( res2_data_only.keys(), data_only_averages)}
    
    return average_dict

In [65]:
get_player_averages_dict(203076)

{'MIN': 33.4,
 'FGM': 9.83,
 'FGA': 17.49,
 'FG_PCT': 0.55,
 'FG3M': 0.37,
 'FG3A': 1.49,
 'FG3_PCT': 0.14,
 'FTM': 5.97,
 'FTA': 7.29,
 'FT_PCT': 0.79,
 'OREB': 3.26,
 'DREB': 9.06,
 'REB': 12.31,
 'AST': 2.51,
 'STL': 1.17,
 'BLK': 2.0,
 'TOV': 2.11,
 'PF': 2.74,
 'PTS': 26.0}

In [55]:
res = playergamelog.PlayerGameLog(203076)
df = res.get_data_frames()

In [62]:
df[0].shape

(35, 27)