In [2]:
from nba_api.stats.endpoints import playercareerstats
# Anthony Davis
career = playercareerstats.PlayerCareerStats(player_id='203076')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203076,2012-13,00,1610612740,NOH,20.0,64,60,1846.0,349,...,0.751,165,357,522,63,75,112,89,158,867
1,203076,2013-14,00,1610612740,NOP,21.0,67,66,2358.0,522,...,0.791,207,466,673,105,89,189,109,200,1394
2,203076,2014-15,00,1610612740,NOP,22.0,68,68,2455.0,642,...,0.805,173,523,696,149,100,200,95,141,1656
3,203076,2015-16,00,1610612740,NOP,23.0,61,61,2164.0,560,...,0.758,130,497,627,116,78,125,121,148,1481
4,203076,2016-17,00,1610612740,NOP,24.0,75,75,2708.0,770,...,0.802,172,712,884,157,94,167,181,168,2099
5,203076,2017-18,00,1610612740,NOP,25.0,75,75,2727.0,780,...,0.828,187,644,831,174,115,193,162,159,2110
6,203076,2018-19,00,1610612740,NOP,26.0,56,56,1850.0,530,...,0.794,174,498,672,218,88,135,112,132,1452
7,203076,2019-20,00,1610612747,LAL,27.0,62,62,2131.0,551,...,0.846,142,435,577,200,91,143,154,156,1618
8,203076,2020-21,00,1610612747,LAL,28.0,36,36,1162.0,301,...,0.738,62,224,286,110,45,59,74,60,786
9,203076,2021-22,00,1610612747,LAL,29.0,40,40,1404.0,370,...,0.713,106,288,394,122,49,90,82,97,927
10,203076,2022-23,00,1610612747,LAL,29.0,35,33,1168.0,344,...,0.820,114,317,431,88,41,70,74,96,910

In [3]:
career.get_data_frames()[0].iloc[-1]

PLAYER_ID                203076
SEASON_ID               2022-23
LEAGUE_ID                    00
TEAM_ID              1610612747
TEAM_ABBREVIATION           LAL
PLAYER_AGE                 29.0
GP                           35
GS                           33
MIN                      1168.0
FGM                         344
FGA                         612
FG_PCT                    0.562
FG3M                         13
FG3A                         52
FG3_PCT                    0.25
FTM                         209
FTA                         255
FT_PCT                     0.82
OREB                        114
DREB                        317
REB                         431
AST                          88
STL                          41
BLK                          70
TOV                          74
PF                           96
PTS                         910
Name: 10, dtype: object

In [10]:
career.get_data_frames()[0].iloc[-1].keys()

Index(['PLAYER_ID', 'SEASON_ID', 'LEAGUE_ID', 'TEAM_ID', 'TEAM_ABBREVIATION',
       'PLAYER_AGE', 'GP', 'GS', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A',
       'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [9]:
career.get_data_frames()[0].iloc[-1][3]

1610612747

In [12]:
career_stats = career.get_data_frames()[0]

career_stats = career_stats.drop(columns=['LEAGUE_ID','PLAYER_ID','SEASON_ID','TEAM_ID'])
career_stats.rename(columns={"TEAM_ABBREVIATION": "TEAM"}, inplace=True)
career_stats.rename(columns={"PLAYER_AGE": "AGE"}, inplace=True)
career_stats = career_stats.iloc[-1]
career_stats

TEAM          LAL
AGE          29.0
GP             35
GS             33
MIN        1168.0
FGM           344
FGA           612
FG_PCT      0.562
FG3M           13
FG3A           52
FG3_PCT      0.25
FTM           209
FTA           255
FT_PCT       0.82
OREB          114
DREB          317
REB           431
AST            88
STL            41
BLK            70
TOV            74
PF             96
PTS           910
Name: 10, dtype: object

In [ ]:
career_stats = career_stats.drop(columns=['LEAGUE_ID','PLAYER_ID','SEASON_ID','TEAM_ID'])

In [13]:
import NChelper
NChelper.get_player_last10_games(203076)

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22022,203076,0022200882,"FEB 15, 2023",LAL vs. NOP,W,30,13,17,0.765,...,8,10,5,1,2,0,2,28,18,1
1,22022,203076,0022200867,"FEB 13, 2023",LAL @ POR,L,31,8,18,0.444,...,17,20,1,0,3,2,3,19,-10,1
2,22022,203076,0022200853,"FEB 11, 2023",LAL @ GSW,W,36,5,19,0.263,...,14,16,1,0,3,4,2,13,8,1
3,22022,203076,0022200834,"FEB 09, 2023",LAL vs. MIL,L,35,9,22,0.409,...,11,16,2,0,0,5,5,23,-7,1
4,22022,203076,0022200821,"FEB 07, 2023",LAL vs. OKC,L,31,6,9,0.667,...,5,8,2,2,1,2,4,13,-4,1
5,22022,203076,0022200798,"FEB 04, 2023",LAL @ NOP,L,38,13,25,0.520,...,10,14,3,1,2,2,3,34,0,1
6,22022,203076,0022200778,"FEB 02, 2023",LAL @ IND,W,35,13,27,0.481,...,9,14,2,1,2,2,0,31,-6,1
7,22022,203076,0022200765,"JAN 31, 2023",LAL @ NYK,W,37,9,16,0.563,...,7,9,1,2,0,5,3,27,16,1
8,22022,203076,0022200749,"JAN 28, 2023",LAL @ BOS,L,34,6,15,0.400,...,5,10,4,0,0,2,4,16,-15,1
9,22022,203076,0022200729,"JAN 25, 2023",LAL vs. SAS,W,26,7,15,0.467,...,7,12,1,1,4,3,2,21,8,1

In [16]:
last10 = NChelper.get_player_last10_games(203076)
last10.keys()

Index(['SEASON_ID', 'Player_ID', 'Game_ID', 'GAME_DATE', 'MATCHUP', 'WL',
       'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA',
       'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PTS', 'PLUS_MINUS', 'VIDEO_AVAILABLE'],
      dtype='object')

In [20]:
last10_rev = last10.iloc[::-1]
last10_rev = last10_rev.drop(columns=['SEASON_ID','Player_ID','Game_ID','OREB','DREB','TOV','PF','PLUS_MINUS','VIDEO_AVAILABLE','FTM','FTA','FT_PCT','STL','BLK'])
last10_rev

,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,REB,AST,PTS
9,"JAN 25, 2023",LAL vs. SAS,W,26,7,15,0.467,1,3,0.333,12,1,21
8,"JAN 28, 2023",LAL @ BOS,L,34,6,15,0.400,1,3,0.333,10,4,16
7,"JAN 31, 2023",LAL @ NYK,W,37,9,16,0.563,0,1,0.000,9,1,27
6,"FEB 02, 2023",LAL @ IND,W,35,13,27,0.481,0,3,0.000,14,2,31
5,"FEB 04, 2023",LAL @ NOP,L,38,13,25,0.520,2,5,0.400,14,3,34
4,"FEB 07, 2023",LAL vs. OKC,L,31,6,9,0.667,0,0,0.000,8,2,13
3,"FEB 09, 2023",LAL vs. MIL,L,35,9,22,0.409,0,2,0.000,16,2,23
2,"FEB 11, 2023",LAL @ GSW,W,36,5,19,0.263,0,1,0.000,16,1,13
1,"FEB 13, 2023",LAL @ POR,L,31,8,18,0.444,0,2,0.000,20,1,19
0,"FEB 15, 2023",LAL vs. NOP,W,30,13,17,0.765,0,1,0.000,10,5,28

In [23]:
last10_rev.iloc[1]

GAME_DATE    JAN 28, 2023
MATCHUP         LAL @ BOS
WL                      L
MIN                    34
FGM                     6
FGA                    15
FG_PCT                0.4
FG3M                    1
FG3A                    3
FG3_PCT             0.333
REB                    10
AST                     4
PTS                    16
Name: 8, dtype: object